<section id="home" class="intro">
  <div class="intro-body">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="brand-heading">NIGER</h1>
        <p class="intro-text"><strong>POSTAGE</strong> STAMPS</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <button type="button" class="btn btn-primary btn-lg"><i class="fa fa-info-circle" aria-hidden="true"></i> About Country</button>
      </div>
    </div>
  </div>
</section>  


<section id="intro-text" class="text-intro">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3>Welcome to the official website of Niger postage stamps. Here you can see various issues of thematic postage stamps and their publication dates.</h3>
        <p>Philatelic agency Stamperija Ltd. – the authorized representative of Niger post administration (the issues of 2013-2017). We offer various interesting topical stamps and continuously update the assortment with new stamps that artistically depict the most important events and personalities of all times.</p>
      </div>
    </div>
</section>


<section id="body" class="pinterest-body">

<% @years.each do |year| %>

  <hr class="half-rule"/>
  <div class="container">
    <div class="row">

      <div class="col-md-1">
        <h3 class="stamps-years"><%= year %></h3>
      </div>

      <div class="col-md-10">
        <div class="row">

          <% @categories.each do |category| %>
            <% if year == category.release_date.year %>

              <div class="col-xs-6 col-sm-4 col-md-3">
                <div class="thumbnail thumb-box">
                  <%= image_tag category.stamps.first.image_name, class: "image-body" %>
                  <div class="caption">
                    <h5><%= category.stamps.first.stamp_country %></h5>
                    <p><%= category.date_issue %></p>
                    <p><%=link_to("View", stamps_path(category), class: "btn btn-primary", role: "button" ) %>
                    <!-- <a href="#" class="btn btn-primary" role="button">View</a>  -->
                  </div>
                </div>
              </div>

            <% end %>
          <% end %>

        </div>
      </div>

    </div>
  </div>
    
<% end %>
    
</section>



